.intro {
  display: flex;
  height: 77vh;
}

.role-container {
  height: 3rem; /* Altura fixa para o contêiner do texto */
}

.i-left {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
  margin-top: 17rem;
}

.i-name {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.i-name>:nth-child(1) {
  color: rgb(101, 101, 101);
  font-weight: regular;
  font-size: 1.8rem;
}

.i-name>:nth-child(2) {
  color: var(--black);
  font-weight: 600;
  font-size: 3.5rem;
  letter-spacing: -0.1rem;
}

.i-name > :nth-child(3) {
  font-size: 2rem;
  margin-top: 5px;
  background-image: linear-gradient(to right, #FF3B30, #FFCC00, #42b6ce, #007AFF, #9763e4);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 600;
  -webkit-text-fill-color: transparent;
}

.role {
  font-weight: 600;
}

.i-buttons-container {
  display: flex;
  justify-content: center;
}

.button.i-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 1px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.button-cv {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 600;
  margin-right: 24px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease, background-color 0.3s ease, border 0.3s ease;
}

.button-cv:hover {
  transform: scale(1.10);
}

.button-contact {
  background-color: #e3e3e3;
  color: #007bff;
  border: none;
  padding: 14px 16px;
  font-size: 14px;
  font-weight: 600;
  margin-right: 24px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease, border 0.3s ease;
}

.button-contact:hover {
  transform: scale(1.10);
}

.i-icons {
  margin-top: 0.1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
  align-items: center;
}

.i-icons>* {
  width: 30px;
  height: 30px;
}

.i-right {
  display: flex;
  justify-content: center;
  gap: 4rem;
  height: 52vh;
  margin-top: 8rem;
  padding-right: 6rem;
}

@media screen and (max-width: 600px) {

  .intro {
    display: flex;
    flex-direction: column;
    margin-top: -10vh;
    margin-bottom: 20vh;
  }

  .i-left {
    order: 2;
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
    margin-top: 10vh;
    padding-bottom: 30px;
  }

  .i-right {
    order: 1;
    display: flex;
    justify-content: center;
    gap: 4rem;
    height: 100%;
    padding-bottom: 30px;
    padding-left: 10px;
  }

  .i-name>:nth-child(1) {
    font-size: 24px;
  }

  .i-name>:nth-child(2) {
    font-size: 24px;
  }

  .i-name>:nth-child(3) {
    font-size: 26px;
    width: 100%;
  }

  .role {
    font-size: 26px;
    font-weight: 600;
    width: 100%;
    height: 3rem
  }

  .i-buttons-container {
    display: flex;
    justify-content: center;
  }

  .button-cv {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 2px 12px;
    font-size: 14px;
    font-weight: 600;
    margin-left: 24px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  .button-contact {
    background-color: #efefef;
    color: #007bff;
    border: none;
    padding: 2px 18px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  .i-name {
    margin-top: -10vh;
  }

  .i-right img {
    width: 22vh;
    height: auto;
    padding-left: 13vh;
  }
}
